{
  "presets": [
    "es2015",
    "es2016"
  ],
  "plugins": [
    "syntax-trailing-function-commas",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread"
  ]
}